main {
  height: 100vh;
  width: 100%;
  position: absolute;
  margin-top: 10px;
}
.cardAlummnos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 0;
  margin: 0 20px;
}
.cardAlummnos li {
  border-radius: 12px;
  box-shadow: 3px 3px 8px rgba(0, 0, 255, 0.7);
  padding: 16px 4px;
  display: flex;
  flex-direction: column;
  font-size: medium;
  background-color: rgb(255, 255, 255);
}
.cardAlummnos li span {
  font-size: medium;
  margin: 4px 16px;
}
.cardAlummnos li button {
  border: none;
  border-radius: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 255, 0.6);
  background-color: rgba(0, 0, 255, 0.6);
  color: white;
  cursor: pointer;
  margin: 8px auto;
  padding: 8px 4px;
  width: 90%;
  font-size: medium;
  transition: transform 250ms ease;
}
.cardAlummnos li button:hover {
  transform: scale(1.08);
}
