.layout {
    padding: 5px;
    background-image: url('../img/escuela3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

