.header {
  background-color: transparent;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 999;
  padding: 0;
  margin-bottom: 0;
}

.header ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 60px;
}


.header ul li {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0);
}

.header div {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}

.header div a img {
  width: auto;
  height: 64px;
  color: white;
}

.right {
  flex-direction: row-reverse;
}

.right button {
  border: none;
  border-radius: 50%;
  background: none;
  cursor: pointer;
}

@media screen and (max-width: 490px) {
  .header {
    padding: 8px 16px;
    margin: 0;
  }

  .header ul {
    display: none;
  }
}