.header {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
  padding: 16px 32px 0px;
  margin-bottom: 0;
}
.NavUl {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 60px;
}
.NavUl li {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0);
}
.header div {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}
.header div a img {
  width: auto;
  height: 64px;
}
.right {
  flex-direction: row-reverse;
}
.right button {
  border: none;
  background: none;
}
@media screen and (max-width: 480px) {
  .header {
    padding: 8px 12px 0;
    margin: 0;
  }
}
