
.popover-container button {
  border: none;
  background: none;
  }
  
  .popover-container ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background: #fff;
    border-radius: 16px;
    width: auto;
    padding: 8px 12px;
    position: absolute;
    top: 85%;
    right: 40px;
    font-size: medium;
    font-weight: 600;
    list-style: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 255, 0.7);
  }
