
.popover-container button {
  border: none;
  background: none;
  }
  
  .popover-container ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background: #fff;
    border-radius: 16px;
    width: auto;
    padding: 8px 12px;
    position: absolute;
    top: 85%;
    right: 40px;
    font-size: medium;
    font-weight: 600;
    list-style: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 255, 0.7);
  }
  .popover-container ul li {
    color: black;
    text-shadow: none;
  }
  .popover-container ul button {
    padding: 4px 12px;
    font-size: large;
    color: white;
    border: none;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 255, 0.6);
    background-color: rgba(0, 0, 255, 0.6);
    transition: transform 250ms ease;
    margin: 0 30px;
    }
  .popover-container ul button:hover {
    transform: scale(1.04);
  }
