.register {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper {
  box-shadow: 0 1px 6px rgba(0, 0, 255, 0.652);
  border-radius: 20px;
}
.register img {
  max-width: 559px;
  height: auto;
  border-radius: 20px;
}
.register form {
  position: relative;
  bottom: 20px;
  display: grid;
  grid-template-columns: repeat(1, 0fr);
  grid-gap: 16px;
  padding: 60px 30px 0 30px;
  border-radius: 20px;
}
.register form div {
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  grid-gap: 16px;
}
.register form div div {
  display: flex;
  flex-direction: column;
}
