.wrapper {
  box-shadow: 3px 3px 8px rgba(0, 0, 255, 0.7);
  border-radius: 20px;
}
.top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top h2 {
  position: absolute;
  color: azure;
  font-size: 54px;
  text-shadow: 1px 1px 2px rgba(60, 95, 155, 0.7);
  user-select: none;
}
.register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register div img {
  max-width: 559px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.register div form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 30px 30px 30px;
  border-radius: 20px;
}
.register div form button {
  padding: 14px 28px;
  font-size: x-large;
  color: white;
  border: none;
  border-radius: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 255, 0.6);
  background-color: rgba(0, 0, 255, 0.6);
  cursor: pointer;
  transition: transform 250ms ease;
}
.register div form button:hover {
  transform: scale(1.08);
}
.register div form span {
  font-size: large;
  font-weight: 600;
  color: red;
  height: 10px;
  margin-bottom: 24px;
}
.register div form div {
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  grid-gap: 16px;
}
.register div form div div {
  display: flex;
  flex-direction: column;
}
label {
  position: relative;
  bottom: 48px;
  padding-left: 1px;
  min-width: 240px;
  height: 24px;
  pointer-events: none;
  user-select: none;
  color: rgb(110, 110, 110);
  font-size: x-large;
  transition: all 250ms ease;
}
.custom-input {
  margin-top: 10px;
  padding: 1px;
  border: none;
  border-bottom: 0.8px solid black;
  font-size: large;
}
.custom-input:focus {
  outline: none;
}
.custom-input:focus + label {
  bottom: 60px;
  font-size: medium;
  transition: all 250ms ease;
  color: rgb(90, 90, 90);
}
.custom-input.active + label {
  bottom: 60px;
  font-size: medium;
  color: rgb(100, 100, 100);
}
@media screen and (max-width: 580px) {
  .register div form {
    padding: 30px 16px 16px 16px;
  }
  .register div form div {
    grid-template-columns: repeat(1, 0fr);
    gap: 8px;
  }
  .register div img {
    max-width: 272px;
  }
  label {
    font-size: large;
  }
  .custom-input {
    font-size: medium;
  }
  .custom-input:focus + label {
    font-size: smaller;
  }
  .custom-input.active + label {
    font-size: smaller;
  }
}